@font-face {
  font-family: san-francisco-regular;
  src: url("../assets/sanFrancisco/SFUIText-Regular.otf");
}

@font-face {
  font-family: san-francisco-semibold;
  src: url("../assets/sanFrancisco/SFUIText-Semibold.otf");
}

@font-face {
  font-family: san-francisco-bold;
  src: url("../assets/sanFrancisco/SFUIText-Bold.otf");
}

@font-face {
  font-family: san-francisco-medium;
  src: url("../assets/sanFrancisco/SFUIText-Medium.otf");
}

@font-face {
  font-family: san-francisco-light;
  src: url("../assets/sanFrancisco/SFUIText-Light.otf");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: san-francisco-regular;
}

@-webkit-keyframes inHumbergerAnimation {
  0% {
    top: -1000%;
  }
  100% {
    top: 100%;
  }
}

@keyframes inHumbergerAnimation {
  0% {
    top: -1000%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes outHumbergerAnimation {
  0% {
    top: 100%;
  }
  100% {
    top: -1000%;
  }
}

@keyframes outHumbergerAnimation {
  0% {
    top: 100%;
  }
  100% {
    top: -1000%;
  }
}

body {
  height: var(--vh);
  width: 100%;
  background-color: #fafafa;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav {
  padding: 1rem 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav a {
  text-decoration: none;
  color: #6ea0cf;
  letter-spacing: .05rem;
}

body header nav .brand-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

body header nav .brand-name img {
  height: 3rem;
  margin-right: 2rem;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav ul li {
  list-style-type: none;
  margin-left: 1.5rem;
  padding: .5rem 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.1rem;
}

body header nav ul li:hover a {
  color: #1f9933;
}

body header nav ul li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body header nav ul li:last-child {
  padding: 0;
  display: table;
}

body header nav ul li:last-child a {
  border-radius: 50px;
  padding: .5rem 1rem;
  background-color: #e07a27;
  cursor: pointer;
  color: #fafafa;
  font-size: 1rem;
}

body header nav ul li:last-child a:hover {
  background-color: #f58830;
}

body header input {
  display: none;
}

body header label {
  display: none;
}

body header label i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main {
  position: relative;
}

body main .bg-div {
  height: calc((var(--vh) * 100) - (var(--hH) * 100));
  z-index: -50;
  overflow: hidden;
}

body main .bg-div svg {
  height: 100%;
  width: 100%;
}

body main .bg-div-sign-in {
  height: calc((var(--vh) * 100) - (var(--hH) * 100));
  z-index: -50;
  overflow: hidden;
}

body main .bg-div-sign-in svg {
  height: 100%;
  width: 100%;
}

body main .main-wrapper {
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

body main .main-wrapper .landing-view {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc((var(--vh) * 100) - (var(--hH) * 100));
}

body main .main-wrapper .landing-view .left-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .main-wrapper .landing-view .left-content .big-display h1 {
  font-size: 3.5rem;
  line-height: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0rem;
  color: #0e121b;
  font-family: san-francisco-medium;
}

body main .main-wrapper .landing-view .left-content .big-display h1 span {
  font-family: san-francisco-bold;
}

body main .main-wrapper .landing-view .left-content .big-display h1 span:nth-child(1) {
  font-family: san-francisco-light;
}

body main .main-wrapper .landing-view .left-content button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #fafafa;
  outline: none;
  border: none;
  margin-right: 2rem;
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #686868;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-box-shadow: 0px 0px 5px 3px #8686864d;
          box-shadow: 0px 0px 5px 3px #8686864d;
}

body main .main-wrapper .landing-view .left-content button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: .5rem;
}

body main .main-wrapper .landing-view .left-content button:hover {
  background-color: #e07a27;
  color: #fafafa;
}

body main .main-wrapper .landing-view .left-content .btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .main-wrapper .landing-view .left-content .btns-wrapper button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #0e121b;
  color: #0e121b;
}

body main .main-wrapper .landing-view .left-content .btns-wrapper button:hover {
  background-color: #0e121b;
  color: #fafafa;
}

body main .main-wrapper .landing-view .right-illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .main-wrapper .landing-view .right-illustration img {
  height: 100%;
}

body main .btm .why-us {
  height: calc((var(--vh) * 100));
  background-image: url("../assets/images/svg/bg-orange.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

body main .btm .why-us .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #44454b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .btm .why-us .title i {
  font-size: 2rem;
  color: #2069ad;
}

body main .btm .why-us .title h3 {
  font-size: 1.5rem;
}

body main .btm .why-us .why-us-body {
  color: #44454b;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .btm .why-us .why-us-body p {
  text-align: center;
  margin: 2rem;
}

body main .btm .why-us .why-us-body .cards-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .btm .why-us .why-us-body .cards-wrapper .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 50px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.219);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.219);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .btm .why-us .why-us-body .cards-wrapper i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  padding: 1rem;
  color: #686868;
}

body main .btm .keynote-speakers {
  height: calc((var(--vh) * 100));
  background-color: #f57e20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

body main .btm .keynote-speakers .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .btm .keynote-speakers .title i {
  font-size: 3rem;
  color: #fafafa;
}

body main .btm .keynote-speakers .title h3 {
  font-size: 1.5rem;
  font-family: san-francisco-light;
  letter-spacing: .2rem;
}

body main .btm .keynote-speakers .cards-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .btm .keynote-speakers .cards-wrapper .card {
  min-height: 25rem;
  max-width: 18rem;
  border-radius: 30px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.219);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.219);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

body main .btm .keynote-speakers .cards-wrapper .card .card-img {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  overflow: hidden;
  max-height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .btm .keynote-speakers .cards-wrapper .card .card-img img {
  height: 19rem;
}

body main .btm .keynote-speakers .cards-wrapper .card .card-footer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

body main .btm .keynote-speakers .cards-wrapper .card .card-footer h4 {
  font-size: 1.2rem;
  color: #0f2030;
  letter-spacing: 1px;
}

body main .btm .keynote-speakers .cards-wrapper .card .card-footer hr {
  border-bottom: none;
  opacity: 30%;
  margin: 0.5rem 0;
}

body main .btm .keynote-speakers .cards-wrapper .card .card-footer h5 {
  color: #e07a27;
  font-size: 1rem;
}

body main .btm .keynote-speakers .cards-wrapper .card:last-child {
  margin: unset;
}

body main .btm .keynote-speakers .cards-wrapper .card:hover {
  -webkit-transform: rotate(3deg) scale(1.1);
          transform: rotate(3deg) scale(1.1);
}

body main .btm .keynote-speakers .cards-wrapper i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  padding: 1rem;
  color: #686868;
}

body main .sign-in-wrapper {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .sign-in-wrapper form {
  background-color: white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(133, 133, 133, 0.37);
          box-shadow: 0px 0px 5px 3px rgba(133, 133, 133, 0.37);
}

body main .sign-in-wrapper form h1 {
  color: #0f2030;
  text-align: center;
  margin: 3rem 2rem;
}

body main .sign-in-wrapper form .input-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 2rem 2rem;
  height: 3.5rem;
}

body main .sign-in-wrapper form .input-items input {
  border-radius: 50px;
  border: 1px solid #b8b8b8;
  color: #0e121b;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: san-francisco-semibold;
  min-width: 20rem;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  font-size: 1rem;
}

body main .sign-in-wrapper form .input-items input:focus {
  outline: none;
  border: 1px solid #f88d12ea;
}

body main .sign-in-wrapper form .input-items input:focus ~ label {
  bottom: 100%;
  font-size: 0.8rem;
}

body main .sign-in-wrapper form .input-items input:hover {
  border: 1px solid #18aad6;
}

body main .sign-in-wrapper form .input-items input:valid ~ label {
  bottom: 100%;
  font-size: 0.8rem;
}

body main .sign-in-wrapper form .input-items label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1rem;
  color: #e07a27;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body main .sign-in-wrapper form .input-items label p {
  background-color: white;
  border-radius: 10rem;
  padding: 0 0.5rem;
}

body main .sign-in-wrapper form .form-footer {
  padding: 0 2rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .sign-in-wrapper form .form-footer button {
  margin: 2rem;
  margin-top: 0px;
  background-color: #0f2030;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body main .sign-in-wrapper form .form-footer button:hover {
  background-color: #2c547a;
}

body main .sign-in-wrapper form .form-footer button:active {
  background-color: #e07a27;
}

body main .sign-in-wrapper form .form-footer .hr-text {
  position: relative;
  width: 100%;
}

body main .sign-in-wrapper form .form-footer .hr-text hr {
  border: 1px solid #b3b3b3;
  border-bottom: transparent;
  height: 1px;
}

body main .sign-in-wrapper form .form-footer .hr-text h2 {
  position: absolute;
  color: #2c4463;
  padding: 0px 1rem;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  min-width: 13rem;
  bottom: -0.5rem;
  font-size: 1rem;
  font-family: san-francisco-light;
  text-align: center;
  background-color: white;
}

body main .sign-in-wrapper form .form-footer a {
  margin-top: 2rem;
  color: #1f9933;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

body main .sign-in-wrapper form .form-footer a:hover {
  color: #e07a27;
}

body main .sign-in-wrapper #sign-up {
  display: none;
}

body main .sign-in-wrapper #sign-up .inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .donation-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

body main .donation-wrapper .left-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fafafa;
  border-radius: 30px;
  padding-bottom: 1rem;
}

body main .donation-wrapper .left-panel h1 {
  color: #10415b;
  font-size: 2rem;
  font-family: san-francisco-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .donation-wrapper .left-panel h1 span {
  font-family: san-francisco-bold;
}

body main .donation-wrapper .left-panel .faq-item {
  color: #10415b;
  font-size: 0.9rem;
  margin: 1rem 2rem;
}

body main .donation-wrapper .left-panel .faq-item h2 {
  color: #e07a27;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .donation-wrapper .left-panel .faq-item h2 i {
  color: #10415b;
  font-size: 2rem;
  margin-right: 0.8rem;
}

body main .donation-wrapper .left-panel .faq-item p {
  color: #10415b;
}

body main .donation-wrapper .secure-payment {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 30px;
  background-color: #fafafa;
  padding: 4rem;
  margin-left: 2rem;
}

body main .donation-wrapper .secure-payment h2 {
  text-align: center;
  margin: 3rem 0;
}

.active {
  color: #e07a27;
}

@media screen and (max-width: 700px) {
  body header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  body header nav {
    padding: 1rem;
  }
  body header nav .brand-name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 10;
    background-color: #fafafa;
  }
  body header nav .brand-name img {
    margin-right: 0.8rem;
  }
  body header nav ul {
    display: none;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 10px 6px 1px rgba(129, 129, 129, 0.226);
            box-shadow: 0px 10px 6px 1px rgba(129, 129, 129, 0.226);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0px 0px 30px 30px;
    left: 0px;
    right: 0px;
    z-index: 5;
    -webkit-animation: inHumbergerAnimation 0.5s ease;
            animation: inHumbergerAnimation 0.5s ease;
  }
  body header nav ul li {
    margin: 1.5rem 1rem;
  }
  body header nav ul li:last-child {
    margin-bottom: 3rem;
  }
  body header nav input {
    display: block;
    visibility: hidden;
  }
  body header nav input:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100%;
  }
  body header nav input:checked ~ label i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #e07a27;
  }
  body header nav input:not(:checked) ~ label i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: unset;
            transform: unset;
  }
  body header nav input:not(:checked) ~ ul {
    -webkit-animation: outHumbergerAnimation 1s ease;
            animation: outHumbergerAnimation 1s ease;
  }
  body header nav label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    z-index: 10;
  }
  body header nav label i {
    font-size: 2rem;
    color: #6ea0cf;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  body header nav label i:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  body main .bg-div {
    width: 100%;
    background-size: 100% 100%;
  }
  body main .bg-div svg {
    height: calc((var(--vh) * 80) - (var(--hH) * 100));
  }
  body main .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    overflow: auto;
  }
  body main .main-wrapper .landing-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body main .main-wrapper .landing-view .left-content {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0px 1rem;
  }
  body main .main-wrapper .landing-view .left-content .big-display h1 {
    font-size: 2rem;
    line-height: 1.9rem;
  }
  body main .main-wrapper .landing-view .left-content .btns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-wrapper .landing-view .left-content .btns-wrapper button {
    margin: unset;
    margin-bottom: 2rem;
  }
  body main .main-wrapper .landing-view .right-illustration {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: unset !important;
    position: relative;
  }
  body main .main-wrapper .landing-view .right-illustration img {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -5;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    height: unset;
  }
  body main .btm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .btm .why-us {
    height: unset;
    background-image: unset;
  }
  body main .btm .why-us .why-us-body .cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .btm .why-us .why-us-body .cards-wrapper .card {
    margin-right: unset;
    margin-bottom: 1rem;
  }
  body main .btm .keynote-speakers {
    height: unset;
  }
  body main .btm .keynote-speakers .cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .btm .keynote-speakers .cards-wrapper .card {
    margin-right: unset;
    margin-bottom: 1rem;
  }
  body main .sign-in-wrapper {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .sign-in-wrapper #sign-up {
    top: 4rem;
    bottom: 4rem;
    margin: 1rem 0;
    position: relative;
  }
  body main .sign-in-wrapper #sign-up .inputs-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .donation-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    overflow: auto;
  }
  body main .donation-wrapper .left-panel {
    width: 100%;
    margin: unset;
    margin-bottom: 2rem;
  }
  body main .donation-wrapper .secure-payment {
    margin: unset;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  body header nav {
    padding: 1rem;
  }
  body header nav .brand-name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 10;
    background-color: #fafafa;
  }
  body header nav .brand-name img {
    margin-right: 0.8rem;
  }
  body header nav ul {
    display: none;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 10px 6px 1px rgba(129, 129, 129, 0.226);
            box-shadow: 0px 10px 6px 1px rgba(129, 129, 129, 0.226);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0px 0px 30px 30px;
    left: 0px;
    right: 0px;
    z-index: 5;
    -webkit-animation: inHumbergerAnimation 0.5s ease;
            animation: inHumbergerAnimation 0.5s ease;
  }
  body header nav ul li {
    margin: 1.5rem 1rem;
  }
  body header nav ul li:last-child {
    margin-bottom: 3rem;
  }
  body header nav input {
    display: block;
    visibility: hidden;
  }
  body header nav input:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100%;
  }
  body header nav input:checked ~ label i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #e07a27;
  }
  body header nav input:not(:checked) ~ label i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: unset;
            transform: unset;
  }
  body header nav input:not(:checked) ~ ul {
    -webkit-animation: outHumbergerAnimation 1s ease;
            animation: outHumbergerAnimation 1s ease;
  }
  body header nav label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    z-index: 10;
  }
  body header nav label i {
    font-size: 2rem;
    color: #6ea0cf;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  body header nav label i:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  body main .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body main .main-wrapper .landing-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body main .main-wrapper .landing-view .left-content {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0px 1rem;
  }
  body main .main-wrapper .landing-view .left-content .big-display h1 {
    font-size: 2rem;
    line-height: 1.9rem;
  }
  body main .main-wrapper .landing-view .left-content .btns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-wrapper .landing-view .left-content .btns-wrapper button {
    margin: unset;
    margin-bottom: 2rem;
  }
  body main .main-wrapper .landing-view .right-illustration {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: unset !important;
    position: relative;
  }
  body main .main-wrapper .landing-view .right-illustration img {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -5;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    height: unset;
  }
  body main .sign-in-wrapper {
    padding: 1rem;
  }
  body main .sign-in-wrapper form {
    width: 100%;
  }
  body main .sign-in-wrapper form .input-items input {
    min-width: 0px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */