$white-text: rgb(241, 241, 241);

@mixin flexcentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    position: relative;
    header{
        .venue-walkthrough-nav{
            ul{
                li{
                    a{
                        color: $white-text;
                        &:hover{
                            color: rgb(230, 151, 32);
                        }
                    }
                }
            }
        }
    }
    .vid-wrapper{
        position: absolute;
        filter: brightness(60%);
        top: 0;
        bottom: 0;
        z-index: -50;        
        // border: 2px solid rebeccapurple;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        @include flexcentered();
        video{
            width: 100%;
        }
    }
}